{% load render_bundle from webpack_loader %}
{% load cloudinary %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Cobalt</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Image styling service">
    <meta name="author" content="Christopher Metz">

    <!-- styles -->
    <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
  </head>
  <body>
    <div id="container">
      {% render_bundle "main" %}
    </div>
  </body>
</html>
