{% load render_bundle from webpack_loader %}
{% load cloudinary %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Test Test</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Oh shit! Word?! Shit you care about but probably shouldn't.">
    <meta name="author" content="Oh shit! Word?!">

    <!-- styles -->
    <link rel="shortcut icon" type="image/png" href="{{STATIC_URL}}/favicon.ico"/>
  </head>
  <body>
    <div id="container">
      {% render_bundle "main" %}
    </div>
  </body>
</html>
